.content-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table{
    width: 70%;
}

.table-btns{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.table-btns button{
    padding: 0px 10px;
}

a, a:hover{
    color: white;
}

.table{
    text-align: center;
}


.add-form{
    display: flex;
    align-items: center;
    margin: 10px 0px;
}

.add-form * {
    margin-right: 5px;
}
